{% extends 'base.html' %}

{% block content %}
{% load static %}
{% load thumbnail %}
<link rel="stylesheet" type="text/css" href="{% static 'gallery/css/gallery.css' %}" />

  <h1> GALLERY </h1>

<div id="gallery" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
      {% for photo in photos %}
        {% if forloop.first %}
          <div class="carousel-item active">
        {% else %}
          <div class="carousel-item">
        {% endif %}
        <!--<img class="d-block w-100" src="/gallery{{ photo.image.url }}" alt="">-->
        <img src="{% thumbnail photo.image '700' as im %}{{ im.url }}{% endthumbnail %}"
        srcset=
        "{% thumbnail photo.image '900' as im %}  {{ im.url }} {{ im.x }}w{% endthumbnail %},
        {% thumbnail photo.image '700' as im %}  {{ im.url }} {{ im.x }}w{% endthumbnail %},
        {% thumbnail photo.image '340' as im %}  {{ im.url }} {{ im.x }}w{% endthumbnail %}"
        sizes=
        "(min-width: 1200px) 800px, (min-width: 768px) 768px, 100vw"/>
      </div>
      {% endfor %}
    </div>

  <a class="carousel-control-prev" href="#gallery" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#gallery" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

{% endblock %}
