
/*** Colors ***/
/*
Cal Gold: #FEC52E
Cal Blue: #191F2F
Dark Gray: #424242
Light Gray (almost white): #FAFAFA
/*

/*** Global Styles ***/

body {
  background-color: #FAFAFA;
}

* {
  font-family: 'Roboto', sans-serif;
}

h1, h3 {
  text-align: center;
  margin: 1.5em;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 300;
  color: #222;
  letter-spacing: 0.05em;
}

h1 {
  font-size: 3em;
}

.btn-primary {
  border: none;
  background-color: #424242;
}

textarea, input {
  border: 1px solid gray;
}

textarea:focus, input:focus {
  outline: none;
}

/*** Nav Bar ***/

header {
  display: flex;
  border-bottom: 2px solid gray;
  align-items: center;
  justify-content: flex-end;
  background-color: #191F2F;
}

nav a {
  color: #FFFFFF;
  font-size: 20;
  font-family: 'Roboto Condensed', sans-serif;
}

nav a:hover {
  color: #FFFFFF;
}

.logo {
  margin-right: auto;
  margin-left: 1em;
}

footer {
  text-align: center;
  border-top: 2px solid gray;
  background-color: #191F2F;
  padding: 1em;
}

footer p {
  font-family: 'Roboto Condensed', sans-serif;
  color: #E5E5E5;
}
