
.title {
  font-size: 2em;
  text-align: left;
}

h4 {
  text-align: left;
  margin: 0 0 1em 0;
}

.btn {
  margin-top: 2em;
}

.form-grid {
  margin: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
}

.left, .right{
  width: 40vw;
  max-width: 30em;
  margin: 3em 1em;
}

.contact-form, .donate, #mc_embed_signup_scroll {
  padding: 2em;
  background: #DEDEDE;
  text-align: left;
}

/*** Contact Form ***/

.contact-form p label {
  font-size: 1em;
  color: #555;
}

.contact-form p input {
  height: 2em;
}

.contact-form p input, form p textarea {
  width: 100%;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.contact-form .btn {
  margin-top: 1em;
}

/*** Mailchimp Signup Form ***/

#mc_embed_signup {
  margin-top: -0.65em;
}

#mc_embed_signup input.email {
  height: 2.45em;
  border: 1px solid gray;
}

#subscribe-input {
  height: 50px;
  max-width: 100%;
}

/*** Donate **/

.donate p {
  margin: 0;
}

@media (max-width: 768px) {
  .left, .right {
    width: 100%;
  }
  #mc_embed_signup_scroll {
    margin-top: -5.5em;
  }
}
