
/*** Global Styles ***/

h1 {
  text-align: center;
  margin: 0.5em;
}

/*** Member Card Styles ***/

.member-card-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  max-width: 250px;
  background: #cecece;
  line-height: 1em;
}

.member-photo {
  max-width: 100%
}
