
{% extends 'base.html' %}

{% block content %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'team/css/style.css' %}" />

<h1> Meet the Team </h1>

{% if members %}
    <div class = "member-card-grid p-2">

    {% for member in members %}

    <div class = "card mw-25 mh-25 text-center p-2 m-2">
          {% if member.photo %} <img class = "member-photo" src = "/team{{ member.photo.url }}">
          {% else %} <img class = "card-img-top member-photo" src = "{% static 'team/images/cone_of_shame.jpg' %}"/> {% endif %}
          <div class = "card-body">
              <h5 class = "card-title"> {{ member.name }} </h5>
              <p class = "card-subtitle"> {% if member.officer_position %} {{ member.get_officer_position_display }} {% endif %} </p>

              <span class = "info-label">Year:</span><span class = "card-text">{{ member.get_year_display }}</span><br/>

              {% if member.major_1 %}<span class = "info-label">Major:</span><span class = "card-text">{{ member.major_1}}
                {% if member.major_2 %} / {{ member.major_2}} {% endif %} </span><br/>{% endif %}

              {% if member.minor_1 %}<span class = "info-label">Minor</span><span class = "card-text">{{ member.minor_1}}
                {% if member.minor_2 %} / {{ member.minor_2}} {% endif %} </span><br/>{% endif %}

              {% if member.hometown %}<span class = "info-label">Hometown:</span><span class = "card-text">{{ member.hometown }} </span> {% endif %}
          </div>
      </div>

    {% endfor %}
    </div>
{% endif %}
{% endblock %}
