/*** Colors ***/
/*
Cal Gold: #FEC52E
Cal Blue: #191F2F
Dark Gray: #424242
Light Gray: #CECECE
*/

body {
  background: #FAFAFA;
}

.title {
  margin: 1em;
  font-size: 2.8em;
}

/*** Member Card Styles ***/

.card {
  border: none;
  border-radius: 0;
}

.card-title {
  font-weight: bold;
}

.card-subtitle {
  margin-bottom: 1em;
  font-weight: bold;
}

.info-label {
  font-size: 0.9em;
  font-weight: bold;
}

.card-text {
  margin: 0.4em;
  font-size: 0.9em;
  line-height: 1.5;
}

.card-body {
  padding: 1em;
}

.member-card-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 1em;
}

.card {
  max-width: 200px;
  background: #DEDEDE;
  line-height: 1em;
}

.member-photo {
  max-width: 100%;
  margin: 0;
}

@media (max-width: 480px) {
  .title {
    font-size: 2.2em;
    margin-top: 1.2em;
  }

  .card {
    max-width: 100%;
  }
}
